<div class="footer1-wrapper">
  <div class="footer footer1">
    <div class="row footer-bg">
      <!-- footer bg absolute position -->
      <div class="footer-bg-color">
      </div>
    </div>
    <div class="container footer-content">
      <!-- footer content -->
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <aside class="footer-widgets-outer-wrapper">
            <div class="row footer-widgets-wrapper">
              <!-- footer-widgets-wrapper -->
              <div class="col-lg-10 col-md-10 col-12 footer1-widgetcolor">
                <div class="footer-widgets grid-item">
                  <div class="widget widget_text">
                    <div class="widget-content">
                      <div class="row textwidget">
                        <div class="col-lg-6">
                          <p><img loading="lazy" class="alignnone size-medium wp-image-3200"
                            style="width: 120px; margin-top: -5px; margin-bottom: 0;"
                            src="../wp-content/uploads/2021/03/logo_light.svg" alt="" width="300" height="300" /></p>
                        <p style="margin-bottom: 42px; color: #ebecee;">Fusce eu magna quis velit efficitur
                          rhoncus.<br />
                          Vivamus vehicula, neque a velit.</p>

                        </div>
                        
                        <div class="col-lg-6">
                          <p class="widgetcolorfirst" style="margin-bottom: 28px; font-family: kanit; font-size: 34px; line-height: 38px; color: #fff; font-weight: 600;">
                            + 1 634 7638 654</p>
                          <p>
                            <a class="socicon" href="http://twitter.com/"> <i class="fab fa-twitter"> </i> </a>
  
                            <a class="socicon" href="http://facebook.com/"> <i class="fab fa-facebook-f"> </i> </a>
  
                            <a class="socicon" href="http://youtube.com/"> <i class="fab fa-youtube"> </i> </a>
  
                            <a class="socicon" href="http://linkedin.com/"> <i class="fab fa-linkedin-in"> </i> </a>
                          </p>
                        </div>

                        
                      </div>
                    </div>
                  </div>
                  <div class="widget_text widget widget_custom_html">
                    <div class="widget_text widget-content">
                      <div class="textwidget custom-html-widget"><a href="#"
                          style="margin-right:35px;font-family:kanit;font-weight:300;font-size:14px;line-height:15px;">SUPPORT</a>
                        <a href="#"
                          style="margin-right:35px;font-family:kanit;font-weight:300;font-size:14px;line-height:15px;">PARTNERS</a>
                        <a href="#"
                          style="font-family:kanit;font-weight:300;font-size:14px;line-height:15px;">CAREER</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- .footer-widgets-wrapper -->
            <div class="row">
              <!-- copyright and top button -->
              <div class="col-md-5">
              </div>
              <div class="col-md-7">
                <div class="copyright">
                  2022 Design - <a href="#" target="_blank">Merkulove</a>. WordPress theme - <a href="#" target="_blank">RayoflightThemes</a>.
                  © Dustro - Construction Company WordPress Theme
                </div>
              </div>
              <div class="col-12 text-right to-the-top">
                <div id="toTopBtn" class="fa fa-chevron-up button-top">
                </div>
              </div>
            </div><!-- .copyright and top button -->
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  (function () {
    var c = document.body.className;
    c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
    document.body.className = c;
  })();
</script>
<link rel='stylesheet' id='e-animations-css'
  href='../wp-content/plugins/elementor/assets/lib/animations/animations.min3621.css?ver=3.7.8' media='all' />
<script src='../wp-content/plugins/contact-form-7/includes/swv/js/index42f0.js?ver=5.6.3' id='swv-js'></script>
<script id='contact-form-7-js-extra'>
  var wpcf7 = { "api": { "root": "http:\/\/rayoflightthemes.com\/wordpress-themes\/dustro-wordpress-theme\/wp-json\/", "namespace": "contact-form-7\/v1" }, "cached": "1" };
</script>
<script src='../wp-content/plugins/contact-form-7/includes/js/index42f0.js?ver=5.6.3' id='contact-form-7-js'></script>
<script src='../wp-content/plugins/popup-anything-on-click/assets/js/popupaoc-publicdc8c.js?ver=2.2'
  id='popupaoc-public-js-js'></script>
<script src='../wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.minfcd1.js?ver=2.7.0-wc.6.9.4'
  id='jquery-blockui-js'></script>
<script id='wc-add-to-cart-js-extra'>
  var wc_add_to_cart_params = { "ajax_url": "\/wordpress-themes\/dustro-wordpress-theme\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/wordpress-themes\/dustro-wordpress-theme\/?wc-ajax=%%endpoint%%", "i18n_view_cart": "View cart", "cart_url": "http:\/\/rayoflightthemes.com\/wordpress-themes\/dustro-wordpress-theme\/cart\/", "is_cart": "", "cart_redirect_after_add": "no" };
</script>
<script src='../wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.minb34e.js?ver=6.9.4'
  id='wc-add-to-cart-js'></script>
<script src='../wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.mine0d3.js?ver=2.1.4-wc.6.9.4'
  id='js-cookie-js'></script>
<script id='woocommerce-js-extra'>
  var woocommerce_params = { "ajax_url": "\/wordpress-themes\/dustro-wordpress-theme\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/wordpress-themes\/dustro-wordpress-theme\/?wc-ajax=%%endpoint%%" };
</script>
<script src='../wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.minb34e.js?ver=6.9.4'
  id='woocommerce-js'></script>
<script id='wc-cart-fragments-js-extra'>
  var wc_cart_fragments_params = { "ajax_url": "\/wordpress-themes\/dustro-wordpress-theme\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/wordpress-themes\/dustro-wordpress-theme\/?wc-ajax=%%endpoint%%", "cart_hash_key": "wc_cart_hash_45caf207cf01d94d38a4bd1f4091c8e1", "fragment_name": "wc_fragments_45caf207cf01d94d38a4bd1f4091c8e1", "request_timeout": "5000" };
</script>
<script src='../wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.minb34e.js?ver=6.9.4'
  id='wc-cart-fragments-js'></script>
<script src='../wp-includes/js/imagesloaded.mineda1.js?ver=4.1.4' id='imagesloaded-js'></script>
<script src='../wp-includes/js/masonry.min3a05.js?ver=4.2.2' id='masonry-js'></script>
<script src='../wp-content/themes/dustro/assets/js/script8a54.js?ver=1.0.0' id='rtdustro-script-js'></script>
<script src='../wp-content/plugins/elementor/assets/lib/jquery-numerator/jquery-numerator.min3958.js?ver=0.2.1'
  id='jquery-numerator-js'></script>
<script src='../wp-content/plugins/elementor/assets/js/webpack.runtime.min3621.js?ver=3.7.8'
  id='elementor-webpack-runtime-js'></script>
<script src='../wp-content/plugins/elementor/assets/js/frontend-modules.min3621.js?ver=3.7.8'
  id='elementor-frontend-modules-js'></script>
<script src='../wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min05da.js?ver=4.0.2'
  id='elementor-waypoints-js'></script>
<script src='../wp-content/plugins/elementor/assets/lib/swiper/swiper.min48f5.js?ver=5.3.6' id='swiper-js'></script>
<script src='../wp-content/plugins/elementor/assets/lib/share-link/share-link.min3621.js?ver=3.7.8'
  id='share-link-js'></script>
<script src='../wp-content/plugins/elementor/assets/lib/dialog/dialog.mind227.js?ver=4.9.0'
  id='elementor-dialog-js'></script>
<script id='elementor-frontend-js-before'>
  var elementorFrontendConfig = { "environmentMode": { "edit": false, "wpPreview": false, "isScriptDebug": false }, "i18n": { "shareOnFacebook": "Share on Facebook", "shareOnTwitter": "Share on Twitter", "pinIt": "Pin it", "download": "Download", "downloadImage": "Download image", "fullscreen": "Fullscreen", "zoom": "Zoom", "share": "Share", "playVideo": "Play Video", "previous": "Previous", "next": "Next", "close": "Close" }, "is_rtl": false, "breakpoints": { "xs": 0, "sm": 480, "md": 768, "lg": 1025, "xl": 1440, "xxl": 1600 }, "responsive": { "breakpoints": { "mobile": { "label": "Mobile", "value": 767, "default_value": 767, "direction": "max", "is_enabled": true }, "mobile_extra": { "label": "Mobile Extra", "value": 880, "default_value": 880, "direction": "max", "is_enabled": false }, "tablet": { "label": "Tablet", "value": 1024, "default_value": 1024, "direction": "max", "is_enabled": true }, "tablet_extra": { "label": "Tablet Extra", "value": 1200, "default_value": 1200, "direction": "max", "is_enabled": false }, "laptop": { "label": "Laptop", "value": 1366, "default_value": 1366, "direction": "max", "is_enabled": false }, "widescreen": { "label": "Widescreen", "value": 2400, "default_value": 2400, "direction": "min", "is_enabled": false } } }, "version": "3.7.8", "is_static": false, "experimentalFeatures": { "e_import_export": true, "e_hidden_wordpress_widgets": true, "landing-pages": true, "elements-color-picker": true, "favorite-widgets": true, "admin-top-bar": true }, "urls": { "assets": "http:\/\/rayoflightthemes.com\/wordpress-themes\/dustro-wordpress-theme\/wp-content\/plugins\/elementor\/assets\/" }, "settings": { "page": [], "editorPreferences": [] }, "kit": { "active_breakpoints": ["viewport_mobile", "viewport_tablet"], "global_image_lightbox": "yes", "lightbox_enable_counter": "yes", "lightbox_enable_fullscreen": "yes", "lightbox_enable_zoom": "yes", "lightbox_enable_share": "yes", "lightbox_title_src": "title", "lightbox_description_src": "description" }, "post": { "id": 9, "title": "Dustro%20%E2%80%93%20Construction%20Company%20WordPress%20Theme", "excerpt": "", "featuredImage": false } };
</script>
<script src='wp-content/plugins/elementor/assets/js/frontend.min3621.js?ver=3.7.8' id='elementor-frontend-js'></script>
<script src='wp-content/plugins/elementor/assets/js/preloaded-modules.min3621.js?ver=3.7.8'
  id='preloaded-modules-js'></script>
</body>

<!-- Mirrored from rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 14 Oct 2022 09:25:54 GMT -->

</html>