<div class="container">
    <div class="row pr-3 pl-3">
        <div class="col-lg-12 col-md-12 top-widgets p-0">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="widget_text widget widget_custom_html">
                        <div class="widget_text widget-content">
                            <div class="textwidget custom-html-widget"><a href="#"
                                    style="margin-right:35px;font-family:kanit;font-weight:300;font-size:14px;line-height:15px;">SUPPORT</a>
                                <a href="#"
                                    style="margin-right:35px;font-family:kanit;font-weight:300;font-size:14px;line-height:15px;">PARTNERS</a>
                                <a href="#"
                                    style="font-family:kanit;font-weight:300;font-size:14px;line-height:15px;">CAREER</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="widget_text widget widget_custom_html">
                        <div class="widget_text widget-content">
                            <div class="textwidget custom-html-widget">
                                <div class="text-right-1">

                                    <a class="socicontop" href="http://twitter.com/"> <i class="fab fa-twitter"> </i>
                                    </a>

                                    <a class="socicontop" href="http://facebook.com/"> <i class="fab fa-facebook-f">
                                        </i> </a>

                                    <a class="socicontop" href="http://linkedin.com/"> <i class="fab fa-linkedin-in">
                                        </i> </a>

                                    <a class="socicontop" href="http://youtube.com/"> <i class="fab fa-youtube"> </i>
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="white-nav-wrapper
   sticky-top">
    <div class="white-nav">
        <div class="container navp0">
            <div class="row overflows smallscreen-wrapper align-items-center">
                <!-- nav -->
                <div class="col paddingfirstnav1">
                    <nav class="navbar paddingfirstnav2 navbar-expand-lg">
                        <!-- logo1 -->
                        <a class="navbar-brand p-0" href='index.html' title='Dustro' rel='home'>
                            <img src='wp-content/uploads/2021/02/logo3-1.svg' alt='Dustro'>
                        </a>

                        <button class="navbar-toggler pr-0 first-button" type="button" data-toggle="collapse"
                            data-target="#main_nav" aria-controls="main_nav" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="animated-icon1"><span></span><span></span><span></span></span>
                        </button>
                        <div class="justify-content-end custom-mega-menu collapse navbar-collapse" id="main_nav">
                            <div class="menu-menu2-container">
                                <ul id="menu-menu2" class="navbar-nav">
                                    <li id="menu-item-1705"
                                        class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-1705">
                                        <a href="/">Home</a>
                                    </li>
                                    <li id="menu-item-1702"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1702">
                                        <a href="/about">About</a></li>
                                    <li id="menu-item-2933"
                                        class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-2933">
                                        <a href="/services">Service</a>
                                    </li>
                                    <li id="menu-item-2805"
                                        class="mega-menu-column menu-item menu-item-type-custom menu-item-object-custom  menu-item-2805">
                                        <a href="#">Pages</a><span class="icon"></span>
                                        <ul class="sub-menu">
                                            <li id="menu-item-2806"
                                                class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-2806">
                                                <a href="#">Projects</a><span class="icon"></span>
                                            </li>
                                            <li id="menu-item-2903"
                                                class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-2903">
                                                <a href="#">Blog and news</a><span class="icon"></span>
                                            </li>
                                            <li id="menu-item-2905"
                                                class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-2905">
                                                <a href="#">Other</a><span class="icon"></span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-4955"
                                        class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-4955">
                                        <a href="contact">Contact</a><span class="icon"></span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="navbar1">
</div>