<%- include ('partials/header') %>

	<title>Document</title>

	<noscript>
		<style id="rocket-lazyload-nojs-css">
			.rll-youtube-player,
			[data-lazy-src] {
				display: none !important;
			}
		</style>
	</noscript> </head>

	<body
		class="home page-template page-template-templates page-template-page-full page-template-templatespage-full-php page page-id-9 wp-custom-logo wp-embed-responsive theme-dustro woocommerce-no-js singular enable-search-modal missing-post-thumbnail has-no-pagination not-showing-comments show-avatars page-full footer-top-visible elementor-default elementor-kit-5 elementor-page elementor-page-9">
		<%- include ('partials/nav') %>
    <h1> Page not found </h1>
    <p>something went wrong</p>
<%- include ('partials/footer') %>