<%- include ('partials/header') %>

<title>Document</title>

<noscript>
    <style id="rocket-lazyload-nojs-css">
        .rll-youtube-player,
        [data-lazy-src] {
            display: none !important;
        }
    </style>
</noscript> </head>

<body
    class="home page-template page-template-templates page-template-page-full page-template-templatespage-full-php page page-id-9 wp-custom-logo wp-embed-responsive theme-dustro woocommerce-no-js singular enable-search-modal missing-post-thumbnail has-no-pagination not-showing-comments show-avatars page-full footer-top-visible elementor-default elementor-kit-5 elementor-page elementor-page-9">
    <%- include ('partials/nav') %>

        <div class="bg-title-page pagetitle breadcrumbleft">
            <div class="pagetitle-inner">
                <div class="container animatedcustom animated fadeInUp">
                    <div class="row">
                        <div class="col-lg-8">
                            <h1>About us</h1>
                            <div class="breadcrumb1">
                                <!-- Breadcrumb NavXT 7.1.0 -->
                                <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage"
                                        title="Go to Dustro."
                                        href="http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme"
                                        class="home"><span property="name">Dustro</span></a>
                                    <meta property="position" content="1">
                                </span> - <span property="itemListElement" typeof="ListItem"><span property="name"
                                        class="post post-page current-item">About us</span>
                                    <meta property="url" content="index.html">
                                    <meta property="position" content="2">
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <main>
            <div class="post-460 page type-page status-publish hentry" id="post-460">
                <div class="post-inner">
                    <div class="entry-content">
                        <div data-elementor-type="wp-page" data-elementor-id="460" class="elementor elementor-460">
                            <div class="elementor-inner">
                                <div class="elementor-section-wrap">
                                    <section
                                        class="elementor-section elementor-top-section elementor-element elementor-element-da0b444 text-center-1024 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="da0b444" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fa458e2"
                                                    data-id="fa458e2" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <section
                                                                class="elementor-section elementor-inner-section elementor-element elementor-element-06fd6a0 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                                                data-id="06fd6a0" data-element_type="section">
                                                                <div
                                                                    class="elementor-container elementor-column-gap-default">
                                                                    <div class="elementor-row">
                                                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-0a5c8e5 elementor-hidden-tablet elementor-hidden-phone"
                                                                            data-id="0a5c8e5"
                                                                            data-element_type="column">
                                                                            <div class="elementor-column-wrap">
                                                                                <div class="elementor-widget-wrap">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-8e3f050 elementor-hidden-tablet elementor-hidden-phone"
                                                                            data-id="8e3f050"
                                                                            data-element_type="column">
                                                                            <div class="elementor-column-wrap">
                                                                                <div class="elementor-widget-wrap">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-0c86c56 box-shadow elementor-invisible"
                                                                            data-id="0c86c56" data-element_type="column"
                                                                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;zoomIn&quot;}">
                                                                            <div
                                                                                class="elementor-column-wrap elementor-element-populated">
                                                                                <div class="elementor-widget-wrap">
                                                                                    <div class="elementor-element elementor-element-40f0baa call-us-box-767 elementor-widget elementor-widget-text-editor"
                                                                                        data-id="40f0baa"
                                                                                        data-element_type="widget"
                                                                                        data-widget_type="text-editor.default">
                                                                                        <div
                                                                                            class="elementor-widget-container">
                                                                                            <div
                                                                                                class="elementor-text-editor elementor-clearfix">
                                                                                                <h6
                                                                                                    style="font-size: 14px; color: #41444b; margin-bottom: 7px; line-height: 15px; font-weight: 300;">
                                                                                                    CALL US TODAY</h6>
                                                                                                <h3
                                                                                                    style="color: #00215b;">
                                                                                                    + 1 634 7638 654
                                                                                                </h3>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </section>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="elementor-section elementor-top-section elementor-element elementor-element-b415383 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
                                        data-id="b415383" data-element_type="section"
                                        data-settings="{&quot;animation&quot;:&quot;fadeInUp&quot;}">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-1e38dd2"
                                                    data-id="1e38dd2" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-bfe9f9d elementor-widget elementor-widget-image"
                                                                data-id="bfe9f9d" data-element_type="widget"
                                                                data-widget_type="image.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image">
                                                                        <img width="1321" height="2048"
                                                                            src="../wp-content/uploads/2021/02/Photo-1321x2048.jpg"
                                                                            class="attachment-2048x2048 size-2048x2048"
                                                                            alt="" loading="lazy"
                                                                            sizes="(max-width: 1321px) 100vw, 1321px" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-66 elementor-top-column elementor-element elementor-element-9056828"
                                                    data-id="9056828" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-fd6d2ca elementor-widget elementor-widget-dustro-maintitle"
                                                                data-id="fd6d2ca" data-element_type="widget"
                                                                data-widget_type="dustro-maintitle.default">
                                                                <div class="elementor-widget-container">

                                                                    <div class="maintitle default">
                                                                        <p>About us</p>
                                                                        <h2 class="default">We&#039;re providing the
                                                                            best customer service</h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-24d2ca6 elementor-widget elementor-widget-dustro-aboutusbox"
                                                                data-id="24d2ca6" data-element_type="widget"
                                                                data-widget_type="dustro-aboutusbox.default">
                                                                <div class="elementor-widget-container">

                                                                    <div class="aboutusbox">
                                                                        <div class="aboutusbox-image">
                                                                            <img src="../wp-content/uploads/2021/01/Layer-0.png"
                                                                                alt="#">
                                                                        </div>
                                                                        <div class="aboutusbox-text">
                                                                            <p>enean tristique felis sed tellus aliquam
                                                                                pharetra. Nulla vel sapien vel metus
                                                                                feugiat euismod</p>
                                                                            <h5>Sean Bradshaw, <span>CEO</span></h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-102b824 elementor-widget elementor-widget-text-editor"
                                                                data-id="102b824" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        <p>Proin efficitur non ligula vitae porta.
                                                                            Pellentesque accumsan ullamcorper erat nec
                                                                            luctus. Sed at fermentum velit. Mauris
                                                                            tempor ante quis augue vestibulum
                                                                            ullamcorper. Donec volutpat ante ut
                                                                            condimentum porta</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-7a9e950 elementor-widget elementor-widget-dustro-custombutton1"
                                                                data-id="7a9e950" data-element_type="widget"
                                                                data-widget_type="dustro-custombutton1.default">
                                                                <div class="elementor-widget-container">

                                                                    <a class="custom-button1"
                                                                        href="../services-carousel/index.html"
                                                                        target="1" rel="1">Learn more <i
                                                                            class="fas fa-long-arrow-alt-right"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="elementor-section elementor-top-section elementor-element elementor-element-9f49b67 elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
                                        data-id="9f49b67" data-element_type="section"
                                        data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-062e399 elementor-invisible"
                                                    data-id="062e399" data-element_type="column"
                                                    data-settings="{&quot;animation&quot;:&quot;zoomIn&quot;}">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-4f79ded elementor-widget elementor-widget-text-editor"
                                                                data-id="4f79ded" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        <p
                                                                            style="margin-bottom: 7px; font-weight: 400; font-size: 34px; line-height: 38px; text-align: center; color: #ebecee;">
                                                                            Get a Quote</p>

                                                                        <h2
                                                                            style="margin-bottom: 14px; text-align: center;">
                                                                            <span style="color: #ffffff;">Build Your
                                                                                Future Today</span></h2>
                                                                        <p
                                                                            style="margin-bottom: 14px; text-align: center; max-width: 500px; margin-right: auto; margin-left: auto;">
                                                                            <span style="color: #ffffff;">Pellentesque
                                                                                ex ex, suscipit et lectus at, mollis
                                                                                tempus ligula. Praesent sagittis eros
                                                                                orci, at sodales dolor rutrum</span></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-2ca495c text-center elementor-widget elementor-widget-dustro-custombutton1"
                                                                data-id="2ca495c" data-element_type="widget"
                                                                data-widget_type="dustro-custombutton1.default">
                                                                <div class="elementor-widget-container">

                                                                    <a class="custom-button1"
                                                                        href="../get-in-touch/index.html" target="1"
                                                                        rel="1">Appointment <i
                                                                            class="fas fa-long-arrow-alt-right"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="elementor-section elementor-top-section elementor-element elementor-element-02e6a98 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="02e6a98" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-3c336fc elementor-invisible"
                                                    data-id="3c336fc" data-element_type="column"
                                                    data-settings="{&quot;animation&quot;:&quot;fadeInLeft&quot;}">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-2c41a99 elementor-widget elementor-widget-dustro-featureboxnumbers"
                                                                data-id="2c41a99" data-element_type="widget"
                                                                data-widget_type="dustro-featureboxnumbers.default">
                                                                <div class="elementor-widget-container">

                                                                    <div
                                                                        class="featureboxnumbers first-color d-flex align-items-center">
                                                                        <div class="featureboxnumbers-number">
                                                                            <span>01</span>
                                                                        </div>
                                                                        <div class="featureboxnumbers-text">
                                                                            <h5>Consultation</h5>
                                                                            <p>Etiam ac leo at quam aliquet </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-fd68a25 elementor-invisible"
                                                    data-id="fd68a25" data-element_type="column"
                                                    data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-c2cb8e0 elementor-widget elementor-widget-dustro-featureboxnumbers"
                                                                data-id="c2cb8e0" data-element_type="widget"
                                                                data-widget_type="dustro-featureboxnumbers.default">
                                                                <div class="elementor-widget-container">

                                                                    <div
                                                                        class="featureboxnumbers second-color d-flex align-items-center">
                                                                        <div class="featureboxnumbers-number">
                                                                            <span>02</span>
                                                                        </div>
                                                                        <div class="featureboxnumbers-text">
                                                                            <h5>Planning</h5>
                                                                            <p>Etiam ac leo at quam aliquet </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-e2e231f elementor-invisible"
                                                    data-id="e2e231f" data-element_type="column"
                                                    data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-ac0b0b6 elementor-widget elementor-widget-dustro-featureboxnumbers"
                                                                data-id="ac0b0b6" data-element_type="widget"
                                                                data-widget_type="dustro-featureboxnumbers.default">
                                                                <div class="elementor-widget-container">

                                                                    <div
                                                                        class="featureboxnumbers first-color d-flex align-items-center">
                                                                        <div class="featureboxnumbers-number">
                                                                            <span>03</span>
                                                                        </div>
                                                                        <div class="featureboxnumbers-text">
                                                                            <h5>Inovations</h5>
                                                                            <p>Etiam ac leo at quam aliquet </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="elementor-section elementor-top-section elementor-element elementor-element-caabfc1 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="caabfc1" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3840a7c elementor-invisible"
                                                    data-id="3840a7c" data-element_type="column"
                                                    data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-23fa2c0 elementor-widget elementor-widget-dustro-maintitle"
                                                                data-id="23fa2c0" data-element_type="widget"
                                                                data-widget_type="dustro-maintitle.default">
                                                                <div class="elementor-widget-container">

                                                                    <div class="maintitle default">
                                                                        <p>Appointment form</p>
                                                                        <h2 class="default">Request a quote</h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-ad774eb elementor-widget elementor-widget-shortcode"
                                                                data-id="ad774eb" data-element_type="widget"
                                                                data-widget_type="shortcode.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-shortcode">
                                                                        <div role="form" class="wpcf7"
                                                                            id="wpcf7-f8-p460-o1" lang="en-US"
                                                                            dir="ltr">
                                                                            <div class="screen-reader-response">
                                                                                <p role="status" aria-live="polite"
                                                                                    aria-atomic="true"></p>
                                                                                <ul></ul>
                                                                            </div>
                                                                            <form
                                                                                action="http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/about-us/#wpcf7-f8-p460-o1"
                                                                                method="post" class="wpcf7-form init"
                                                                                novalidate="novalidate"
                                                                                data-status="init">
                                                                                <div style="display: none;">
                                                                                    <input type="hidden" name="_wpcf7"
                                                                                        value="8" />
                                                                                    <input type="hidden"
                                                                                        name="_wpcf7_version"
                                                                                        value="5.6.3" />
                                                                                    <input type="hidden"
                                                                                        name="_wpcf7_locale"
                                                                                        value="en_US" />
                                                                                    <input type="hidden"
                                                                                        name="_wpcf7_unit_tag"
                                                                                        value="wpcf7-f8-p460-o1" />
                                                                                    <input type="hidden"
                                                                                        name="_wpcf7_container_post"
                                                                                        value="460" />
                                                                                    <input type="hidden"
                                                                                        name="_wpcf7_posted_data_hash"
                                                                                        value="" />
                                                                                </div>
                                                                                <div
                                                                                    class="row p-0 custom-contact-form1">
                                                                                    <div
                                                                                        class="col-sm-6 pl-0 pr-sm-4 pr-0 mb-1">
                                                                                        <span
                                                                                            class="wpcf7-form-control-wrap"
                                                                                            data-name="your-name"><input
                                                                                                type="text"
                                                                                                name="your-name"
                                                                                                value="" size="40"
                                                                                                class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                                                aria-required="true"
                                                                                                aria-invalid="false"
                                                                                                placeholder="Your Name (required)" /></span>
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-sm-6 pl-0 pr-0 mb-1">
                                                                                        <span
                                                                                            class="wpcf7-form-control-wrap"
                                                                                            data-name="your-email"><input
                                                                                                type="email"
                                                                                                name="your-email"
                                                                                                value="" size="40"
                                                                                                class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                                                aria-required="true"
                                                                                                aria-invalid="false"
                                                                                                placeholder="Your Email Address (required)" /></span>
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-sm-6 pl-0 pr-sm-4 pr-0 mb-1">
                                                                                        <span
                                                                                            class="wpcf7-form-control-wrap"
                                                                                            data-name="tel-39"><input
                                                                                                type="tel" name="tel-39"
                                                                                                value="" size="40"
                                                                                                class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel"
                                                                                                aria-invalid="false"
                                                                                                placeholder="phone" /></span>
                                                                                    </div>
                                                                                    <div
                                                                                        class="col-sm-6 pl-0 pr-0 mb-1">
                                                                                        <span
                                                                                            class="wpcf7-form-control-wrap"
                                                                                            data-name="placeholder"><select
                                                                                                name="placeholder"
                                                                                                class="wpcf7-form-control wpcf7-select"
                                                                                                aria-invalid="false">
                                                                                                <option
                                                                                                    value="chooseservice">
                                                                                                    chooseservice
                                                                                                </option>
                                                                                                <option
                                                                                                    value="Service one">
                                                                                                    Service one</option>
                                                                                                <option
                                                                                                    value="Service two">
                                                                                                    Service two</option>
                                                                                                <option
                                                                                                    value="Service three">
                                                                                                    Service three
                                                                                                </option>
                                                                                            </select></span>
                                                                                    </div>
                                                                                    <div class="col-sm-12 p-0 mb-1">
                                                                                        <span
                                                                                            class="wpcf7-form-control-wrap"
                                                                                            data-name="textarea-960"><textarea
                                                                                                name="textarea-960"
                                                                                                cols="40" rows="10"
                                                                                                class="wpcf7-form-control wpcf7-textarea smalltextarea"
                                                                                                aria-invalid="false"
                                                                                                placeholder="Leave us message"></textarea></span>
                                                                                    </div>
                                                                                    <div class="col-sm-12 pl-0 pr-0">
                                                                                        <input type="submit"
                                                                                            value="Send"
                                                                                            class="wpcf7-form-control has-spinner wpcf7-submit" />
                                                                                    </div>
                                                                                </div>
                                                                                <div class="wpcf7-response-output"
                                                                                    aria-hidden="true"></div>
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7411f5f elementor-invisible"
                                                    data-id="7411f5f" data-element_type="column"
                                                    data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-895ad00 elementor-widget elementor-widget-dustro-icons1"
                                                                data-id="895ad00" data-element_type="widget"
                                                                data-widget_type="dustro-icons1.default">
                                                                <div class="elementor-widget-container">

                                                                    <div class="icons1 icons2">
                                                                        <div class="img-wrapper">
                                                                            <img src="../wp-content/uploads/2021/03/helmet.svg"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="text-wrapper">
                                                                            <h3>High quality build</h3>
                                                                            <p>Pellentesque nec efficitur felis. Nam sit
                                                                                amet ultrices diam</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-8d3a813 elementor-widget elementor-widget-dustro-icons1"
                                                                data-id="8d3a813" data-element_type="widget"
                                                                data-widget_type="dustro-icons1.default">
                                                                <div class="elementor-widget-container">

                                                                    <div class="icons1 icons2">
                                                                        <div class="img-wrapper">
                                                                            <img src="../wp-content/uploads/2021/03/paint-brush.svg"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="text-wrapper">
                                                                            <h3>Unique idea</h3>
                                                                            <p>In hac habitasse platea dictumst. Nunc
                                                                                ultricies dolor nunc</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-1d5b5e4 elementor-widget elementor-widget-dustro-icons1"
                                                                data-id="1d5b5e4" data-element_type="widget"
                                                                data-widget_type="dustro-icons1.default">
                                                                <div class="elementor-widget-container">

                                                                    <div class="icons1 icons2">
                                                                        <div class="img-wrapper">
                                                                            <img src="../wp-content/uploads/2021/03/screwdriver.svg"
                                                                                alt="">
                                                                        </div>
                                                                        <div class="text-wrapper">
                                                                            <h3>Modern Equipment</h3>
                                                                            <p>Suspendisse iaculis lorem ipsum dolor
                                                                                nisl nec porttitor convallis</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="elementor-section elementor-top-section elementor-element elementor-element-efeaaea elementor-section-full_width elementor-section-stretched elementor-section-height-default elementor-section-height-default"
                                        data-id="efeaaea" data-element_type="section"
                                        data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;}">
                                        <div class="elementor-container elementor-column-gap-no">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-b0eecbd"
                                                    data-id="b0eecbd" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-6a89a93 elementor-widget elementor-widget-dustro-Imagehover"
                                                                data-id="6a89a93" data-element_type="widget"
                                                                data-widget_type="dustro-Imagehover.default">
                                                                <div class="elementor-widget-container">

                                                                    <figure class="view">
                                                                        <img src="../wp-content/uploads/2021/02/leohoho-YcD8ak707AM-unsplash-1-4.jpg"
                                                                            alt="" />
                                                                        <figcaption class="mask">
                                                                            <div class="maskinner">
                                                                                <div class="maskinner2">
                                                                                    <div class="maskinner2-mb">
                                                                                        <h3>Commercial</h3>
                                                                                        <h4>Benoit Architecture</h4>
                                                                                    </div>
                                                                                    <a href="../wp-content/uploads/2021/02/leohoho-YcD8ak707AM-unsplash-1-4.jpg"
                                                                                        data-lightbox="example-set">
                                                                                        <i class="fas fa-plus"></i>
                                                                                    </a>
                                                                                    <a
                                                                                        href="../single-project/index.html">
                                                                                        <i class="fas fa-link"></i>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </figcaption>
                                                                    </figure>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-d24de10"
                                                    data-id="d24de10" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-746a694 elementor-widget elementor-widget-dustro-Imagehover"
                                                                data-id="746a694" data-element_type="widget"
                                                                data-widget_type="dustro-Imagehover.default">
                                                                <div class="elementor-widget-container">

                                                                    <figure class="view">
                                                                        <img src="../wp-content/uploads/2021/02/office-building-X275FAF-1-1.jpg"
                                                                            alt="" />
                                                                        <figcaption class="mask">
                                                                            <div class="maskinner">
                                                                                <div class="maskinner2">
                                                                                    <div class="maskinner2-mb">
                                                                                        <h3>Commercial</h3>
                                                                                        <h4>Benoit Architecture</h4>
                                                                                    </div>
                                                                                    <a href="../wp-content/uploads/2021/02/office-building-X275FAF-1-1.jpg"
                                                                                        data-lightbox="example-set">
                                                                                        <i class="fas fa-plus"></i>
                                                                                    </a>
                                                                                    <a
                                                                                        href="../single-project/index.html">
                                                                                        <i class="fas fa-link"></i>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </figcaption>
                                                                    </figure>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-0dad9a9"
                                                    data-id="0dad9a9" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-1a34ef4 elementor-widget elementor-widget-dustro-Imagehover"
                                                                data-id="1a34ef4" data-element_type="widget"
                                                                data-widget_type="dustro-Imagehover.default">
                                                                <div class="elementor-widget-container">

                                                                    <figure class="view">
                                                                        <img src="../wp-content/uploads/2021/02/office-building-P6EY7D6-1-4.jpg"
                                                                            alt="" />
                                                                        <figcaption class="mask">
                                                                            <div class="maskinner">
                                                                                <div class="maskinner2">
                                                                                    <div class="maskinner2-mb">
                                                                                        <h3>Commercial</h3>
                                                                                        <h4>Benoit Architecture</h4>
                                                                                    </div>
                                                                                    <a href="../wp-content/uploads/2021/02/office-building-P6EY7D6-1-4.jpg"
                                                                                        data-lightbox="example-set">
                                                                                        <i class="fas fa-plus"></i>
                                                                                    </a>
                                                                                    <a
                                                                                        href="../single-project/index.html">
                                                                                        <i class="fas fa-link"></i>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </figcaption>
                                                                    </figure>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-b778736"
                                                    data-id="b778736" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-8b97d6d elementor-widget elementor-widget-dustro-Imagehover"
                                                                data-id="8b97d6d" data-element_type="widget"
                                                                data-widget_type="dustro-Imagehover.default">
                                                                <div class="elementor-widget-container">

                                                                    <figure class="view">
                                                                        <img src="../wp-content/uploads/2021/02/jimmy-chang-ACt8ycSzpdE-unsplash-1-2.jpg"
                                                                            alt="" />
                                                                        <figcaption class="mask">
                                                                            <div class="maskinner">
                                                                                <div class="maskinner2">
                                                                                    <div class="maskinner2-mb">
                                                                                        <h3>Commercial</h3>
                                                                                        <h4>Benoit Architecture</h4>
                                                                                    </div>
                                                                                    <a href="../wp-content/uploads/2021/02/jimmy-chang-ACt8ycSzpdE-unsplash-1-2.jpg"
                                                                                        data-lightbox="example-set">
                                                                                        <i class="fas fa-plus"></i>
                                                                                    </a>
                                                                                    <a
                                                                                        href="../single-project/index.html">
                                                                                        <i class="fas fa-link"></i>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </figcaption>
                                                                    </figure>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-20 elementor-top-column elementor-element elementor-element-dca03d3"
                                                    data-id="dca03d3" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-36cb507 elementor-widget elementor-widget-dustro-Imagehover"
                                                                data-id="36cb507" data-element_type="widget"
                                                                data-widget_type="dustro-Imagehover.default">
                                                                <div class="elementor-widget-container">

                                                                    <figure class="view">
                                                                        <img src="../wp-content/uploads/2021/02/exterior-of-building-D9Y9UFE-1-1.jpg"
                                                                            alt="" />
                                                                        <figcaption class="mask">
                                                                            <div class="maskinner">
                                                                                <div class="maskinner2">
                                                                                    <div class="maskinner2-mb">
                                                                                        <h3>Commercial</h3>
                                                                                        <h4>Benoit Architecture</h4>
                                                                                    </div>
                                                                                    <a href="../wp-content/uploads/2021/02/exterior-of-building-D9Y9UFE-1-1.jpg"
                                                                                        data-lightbox="example-set">
                                                                                        <i class="fas fa-plus"></i>
                                                                                    </a>
                                                                                    <a
                                                                                        href="../single-project/index.html">
                                                                                        <i class="fas fa-link"></i>
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </figcaption>
                                                                    </figure>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section
                                        class="elementor-section elementor-top-section elementor-element elementor-element-accd7ea elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                        data-id="accd7ea" data-element_type="section">
                                        <div class="elementor-container elementor-column-gap-default">
                                            <div class="elementor-row">
                                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3496de9 elementor-invisible"
                                                    data-id="3496de9" data-element_type="column"
                                                    data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-961522d elementor-widget elementor-widget-dustro-maintitle"
                                                                data-id="961522d" data-element_type="widget"
                                                                data-widget_type="dustro-maintitle.default">
                                                                <div class="elementor-widget-container">

                                                                    <div class="maintitle default">
                                                                        <p>Our company</p>
                                                                        <h2 class="default">Develop your leaders into a
                                                                            competitive advantage</h2>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-ed2c23a elementor-widget elementor-widget-text-editor"
                                                                data-id="ed2c23a" data-element_type="widget"
                                                                data-widget_type="text-editor.default">
                                                                <div class="elementor-widget-container">
                                                                    <div
                                                                        class="elementor-text-editor elementor-clearfix">
                                                                        <p>Nunc a blandit urna. Aliquam dapibus
                                                                            pellentesque purus, porta luctus tortor
                                                                            porta ut. Fusce mattis lacus feugiat libero
                                                                            vulputate, nec fringilla felis ultricies.
                                                                            Proin neque libero, tempus sed nisi vel,
                                                                            suscipit maximus elit. Aenean pulvinar
                                                                            vestibulum porttitor</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="elementor-element elementor-element-2c1af01 elementor-widget elementor-widget-dustro-custombutton1"
                                                                data-id="2c1af01" data-element_type="widget"
                                                                data-widget_type="dustro-custombutton1.default">
                                                                <div class="elementor-widget-container">

                                                                    <a class="custom-button1"
                                                                        href="../project-grid/index.html" target="1"
                                                                        rel="1">Learn more <i
                                                                            class="fas fa-long-arrow-alt-right"></i></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-4b9267f"
                                                    data-id="4b9267f" data-element_type="column">
                                                    <div class="elementor-column-wrap elementor-element-populated">
                                                        <div class="elementor-widget-wrap">
                                                            <div class="elementor-element elementor-element-2d8dfc6 elementor-carousel-button-background elementor-arrows-position-inside elementor-widget elementor-widget-image-carousel"
                                                                data-id="2d8dfc6" data-element_type="widget"
                                                                data-settings="{&quot;slides_to_show&quot;:&quot;1&quot;,&quot;navigation&quot;:&quot;arrows&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;effect&quot;:&quot;slide&quot;,&quot;speed&quot;:500}"
                                                                data-widget_type="image-carousel.default">
                                                                <div class="elementor-widget-container">
                                                                    <div class="elementor-image-carousel-wrapper swiper-container"
                                                                        dir="ltr">
                                                                        <div
                                                                            class="elementor-image-carousel swiper-wrapper">
                                                                            <div class="swiper-slide">
                                                                                <figure class="swiper-slide-inner"><img
                                                                                        class="swiper-slide-image"
                                                                                        src="../wp-content/uploads/2021/02/img-2-1.jpg"
                                                                                        alt="img-2" /></figure>
                                                                            </div>
                                                                            <div class="swiper-slide">
                                                                                <figure class="swiper-slide-inner"><img
                                                                                        class="swiper-slide-image"
                                                                                        src="../wp-content/uploads/2021/02/office-building-X275FAF-1-2.jpg"
                                                                                        alt="office-building-X275FAF-(1)" />
                                                                                </figure>
                                                                            </div>
                                                                        </div>
                                                                        <div
                                                                            class="elementor-swiper-button elementor-swiper-button-prev">
                                                                            <i aria-hidden="true"
                                                                                class="eicon-chevron-left"></i> <span
                                                                                class="elementor-screen-only">Previous</span>
                                                                        </div>
                                                                        <div
                                                                            class="elementor-swiper-button elementor-swiper-button-next">
                                                                            <i aria-hidden="true"
                                                                                class="eicon-chevron-right"></i> <span
                                                                                class="elementor-screen-only">Next</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div><!-- .entry-content -->
                </div><!-- .post-inner -->

            </div>
        </main>


        <%- include ('partials/footer') %>