<%- include ('partials/header') %>

<title>Document</title>

<noscript>
  <style id="rocket-lazyload-nojs-css">
    .rll-youtube-player,
    [data-lazy-src] {
      display: none !important;
    }
  </style>
</noscript> </head>

<body
  class="home page-template page-template-templates page-template-page-full page-template-templatespage-full-php page page-id-9 wp-custom-logo wp-embed-responsive theme-dustro woocommerce-no-js singular enable-search-modal missing-post-thumbnail has-no-pagination not-showing-comments show-avatars page-full footer-top-visible elementor-default elementor-kit-5 elementor-page elementor-page-9">
  <%- include ('partials/nav') %>

    <div class="bg-title-page pagetitle breadcrumbleft">
      <div class="pagetitle-inner">
        <div class="container animatedcustom animated fadeInUp">
          <div class="row">
            <div class="col-lg-8">
              <h1>Contact</h1>
              <div class="breadcrumb1">
                <!-- Breadcrumb NavXT 7.1.0 -->
                <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage"
                    title="Go to Dustro." href="http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme"
                    class="home"><span property="name">Dustro</span></a>
                  <meta property="position" content="1">
                </span> - <span property="itemListElement" typeof="ListItem"><span property="name"
                    class="post post-page current-item">Contact</span>
                  <meta property="url" content="index.html">
                  <meta property="position" content="2">
                </span>
              </div>
            </div>
            <div class="col-lg-4">
            </div>
          </div>
        </div>
      </div>
    </div>
    <main>
      <div class="post-2888 page type-page status-publish hentry" id="post-2888">
        <div class="post-inner">
          <div class="entry-content">
            <div data-elementor-type="wp-page" data-elementor-id="2888" class="elementor elementor-2888">
              <div class="elementor-inner">
                <div class="elementor-section-wrap">
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-092b8a8 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="092b8a8" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-extended">
                      <div class="elementor-row">
                        <div
                          class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-1e8b59e"
                          data-id="1e8b59e" data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <section
                                class="elementor-section elementor-inner-section elementor-element elementor-element-f605749 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="f605749" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                  <div class="elementor-row">
                                    <div
                                      class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-bfc09ea box-shadow"
                                      data-id="bfc09ea" data-element_type="column">
                                      <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                          <div
                                            class="elementor-element elementor-element-ca6ba55 elementor-widget elementor-widget-html"
                                            data-id="ca6ba55" data-element_type="widget"
                                            data-widget_type="html.default">
                                            <div class="elementor-widget-container">
                                              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158857.72810770132!2d-0.24168056440495408!3d51.52877184058061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2z0JvQvtC90LTQvtC9LCDQktC10LvQuNC60LAg0JHRgNC40YLQsNC90LjRmNCw!5e0!3m2!1ssr!2srs!4v1612789123012!5m2!1ssr!2srs"
                                                width="300" height="300" frameborder="0" style="border:0;"
                                                allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                            </div>
                                          </div>
                                          <div
                                            class="elementor-element elementor-element-8b44e1b elementor-widget elementor-widget-text-editor"
                                            data-id="8b44e1b" data-element_type="widget"
                                            data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                              <div class="elementor-text-editor elementor-clearfix">
                                                <h5 style="text-align: center; margin-bottom: 14px;font-weight: 500;">
                                                  London Office</h5>
                                                <p style="text-align: center; padding: 0 25px;">7300-7398 Colonial Rd,
                                                  Brooklyn, NY 11209</p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-54d62ff"
                          data-id="54d62ff" data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <section
                                class="elementor-section elementor-inner-section elementor-element elementor-element-40fbc01 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="40fbc01" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                  <div class="elementor-row">
                                    <div
                                      class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-dbf4358 box-shadow"
                                      data-id="dbf4358" data-element_type="column">
                                      <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                          <div
                                            class="elementor-element elementor-element-7814d9b elementor-widget elementor-widget-html"
                                            data-id="7814d9b" data-element_type="widget"
                                            data-widget_type="html.default">
                                            <div class="elementor-widget-container">
                                              <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830840237!2d-74.1197641276928!3d40.69766374884476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0IrRg9GY0L7RgNC6LCDQodGY0LXQtNC40ZrQtdC90LUg0JTRgNC20LDQstC1!5e0!3m2!1ssr!2srs!4v1612789076277!5m2!1ssr!2srs"
                                                width="400" height="300" frameborder="0" style="border:0;"
                                                allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                            </div>
                                          </div>
                                          <div
                                            class="elementor-element elementor-element-3409e08 elementor-widget elementor-widget-text-editor"
                                            data-id="3409e08" data-element_type="widget"
                                            data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                              <div class="elementor-text-editor elementor-clearfix">
                                                <h5 style="text-align: center; margin-bottom: 14px; font-weight: 500;">
                                                  New York Office</h5>
                                                <p style="text-align: center; padding: 0 30px;">7300 Colonial Rd,
                                                  Brooklyn, NY 11209</p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-56baffa"
                          data-id="56baffa" data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <section class="elementor-section elementor-inner-section elementor-element elementor-element-16520e9 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                                data-id="16520e9" data-element_type="section">
                                <div class="elementor-container elementor-column-gap-default">
                                  <div class="elementor-row">
                                    <div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-140a774 box-shadow" data-id="140a774" data-element_type="column">
                                      <div class="elementor-column-wrap elementor-element-populated">
                                        <div class="elementor-widget-wrap">
                                          <div
                                            class="elementor-element elementor-element-dc099ff elementor-widget elementor-widget-html"
                                            data-id="dc099ff" data-element_type="widget"
                                            data-widget_type="html.default">
                                            <div class="elementor-widget-container">
                                              <iframe loading="lazy" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193595.15830840237!2d-74.1197641276928!3d40.69766374884476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0IrRg9GY0L7RgNC6LCDQodGY0LXQtNC40ZrQtdC90LUg0JTRgNC20LDQstC1!5e0!3m2!1ssr!2srs!4v1612789076277!5m2!1ssr!2srs"
                                                width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                            </div>
                                          </div>
                                          <div class="elementor-element elementor-element-3559c3c elementor-widget elementor-widget-text-editor"
                                            data-id="3559c3c" data-element_type="widget" data-widget_type="text-editor.default">
                                            <div class="elementor-widget-container">
                                              <div class="elementor-text-editor elementor-clearfix">
                                                <h5 style="text-align: center; margin-bottom: 14px; font-weight: 500;"> Madrid Office</h5>
                                                <p style="text-align: center; padding: 0 30px;">7300 Colonial Rd, Brooklyn, NY 11209</p>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </section>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-c1368d7 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="c1368d7" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-default">
                      <div class="elementor-row">
                        <div
                          class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-8b7d14e"
                          data-id="8b7d14e" data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-fb1facb elementor-widget elementor-widget-html"
                                data-id="fb1facb" data-element_type="widget" data-widget_type="html.default">
                                <div class="elementor-widget-container">
                                  <iframe loading="lazy"
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158857.72810770132!2d-0.24168056440495408!3d51.52877184058061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2z0JvQvtC90LTQvtC9LCDQktC10LvQuNC60LAg0JHRgNC40YLQsNC90LjRmNCw!5e0!3m2!1ssr!2srs!4v1612789123012!5m2!1ssr!2srs"
                                    width="300" height="500" frameborder="0" style="border:0;" allowfullscreen=""
                                    aria-hidden="false" tabindex="0"></iframe>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section
                    class="elementor-section elementor-top-section elementor-element elementor-element-9a28ac2 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
                    data-id="9a28ac2" data-element_type="section"
                    data-settings="{&quot;animation&quot;:&quot;none&quot;}">
                    <div class="elementor-container elementor-column-gap-default">
                      <div class="elementor-row">
                        <div
                          class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-556bd95"
                          data-id="556bd95" data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-ed1775e elementor-widget elementor-widget-text-editor"
                                data-id="ed1775e" data-element_type="widget" data-widget_type="text-editor.default">
                                <div class="elementor-widget-container">
                                  <div class="elementor-text-editor elementor-clearfix">
                                    <h6 style="margin-bottom: 6px; font-size: 14px; font-weight: 300;">COMPANY ADDRESS
                                    </h6>
                                    <h4 style="color: #00215b;">Themeforest, Envato HQ 24 Fifth st., Los Angeles, USA
                                    </h4>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-30d880f"
                          data-id="30d880f" data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-ad167fb elementor-widget elementor-widget-dustro-icontext"
                                data-id="ad167fb" data-element_type="widget" data-widget_type="dustro-icontext.default">
                                <div class="elementor-widget-container">

                                  <div class="icontext">
                                    <div class="img-wrapper first-color">
                                      <img src="../wp-content/uploads/2021/01/telephone.svg" alt="">
                                    </div>
                                    <div class="text-wrapper">
                                      <h3>Company phones</h3>
                                      <h6>+ 1 634 7638 654</h6>
                                      <h6>+ 1 234 5678 098</h6>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div
                          class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-0245dfc"
                          data-id="0245dfc" data-element_type="column">
                          <div class="elementor-column-wrap elementor-element-populated">
                            <div class="elementor-widget-wrap">
                              <div
                                class="elementor-element elementor-element-6da5a0a elementor-widget elementor-widget-dustro-icontext"
                                data-id="6da5a0a" data-element_type="widget" data-widget_type="dustro-icontext.default">
                                <div class="elementor-widget-container">

                                  <div class="icontext">
                                    <div class="img-wrapper second-color">
                                      <img src="../wp-content/uploads/2021/01/chat.svg" alt="">
                                    </div>
                                    <div class="text-wrapper">
                                      <h3>Company emails</h3>
                                      <h6>dustro@gmail.com</h6>
                                      <h6>dustro2@gmail.com</h6>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div><!-- .entry-content -->
        </div><!-- .post-inner -->

      </div>
    </main>

    <%- include ('partials/footer') %>