<%- include ('partials/header') %>

	<title>Document</title>

	<noscript>
		<style id="rocket-lazyload-nojs-css">
			.rll-youtube-player,
			[data-lazy-src] {
				display: none !important;
			}
		</style>
	</noscript> </head>

	<body
		class="home page-template page-template-templates page-template-page-full page-template-templatespage-full-php page page-id-9 wp-custom-logo wp-embed-responsive theme-dustro woocommerce-no-js singular enable-search-modal missing-post-thumbnail has-no-pagination not-showing-comments show-avatars page-full footer-top-visible elementor-default elementor-kit-5 elementor-page elementor-page-9">
		<%- include ('partials/nav') %>

			<main>
				<div class="post-9 page type-page status-publish hentry" id="post-9">
					<div class="post-inner">
						<div class="entry-content">
							<div data-elementor-type="wp-page" data-elementor-id="9" class="elementor elementor-9">
								<div class="elementor-inner">
									<div class="elementor-section-wrap">
										<section class="elementor-section elementor-top-section elementor-element elementor-element-9f26cc3 elementor-section-full_width elementor-section-height-default elementor-section-height-default"
											data-id="9f26cc3" data-element_type="section">
											<div class="elementor-container elementor-column-gap-no">
												<div class="elementor-row">
													<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-7250256"
														data-id="7250256" data-element_type="column">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-b6964c1 owl-dots-remove767 elementor-widget elementor-widget-shortcode"
																	data-id="b6964c1" data-element_type="widget"
																	data-widget_type="shortcode.default">
																	<div class="elementor-widget-container">
																		<div class="elementor-shortcode">
																			<div class="lgx-carousel-section">
																				<div class="lgx-section-inner"
																					style="background-color:rgb(255,255,255); color:#ffffff;">
																					<div class="lgx-carousel-wrapper">
																						<div class="lgx-carousel" data-margin="0" data-loop="true" data-nav="true" data-autoplay="true" data-autoplaytimeout="5000" data-lazyload="false" data-addclassactive="true" data-autoplayhoverpause="false"
																							data-video="false" data-animateout="" data-animatein="" data-dots="true" data-videoheight="350" data-videowidth="false" data-smartspeed="500" data-slidespeed="200" data-paginationspeed="800" data-itemlarge="1" data-itemdesk="1"
																							data-itemtablet="1" data-itemmobile="1" data-navlarge="true" data-navdesk="true" data-navtablet="true" data-navmobile="false">
																							<div class="item lgx-item">
																								<div class="slider1slide ">
																									<div class="slider1slide-image">
																										<img src="wp-content/uploads/2021/02/s1.jpg" alt="">
																									</div>
																									<div class="container">
																										<div class="row align-items-center slider1slide-text">
																											<div class="col p-0">
																												<h2 class="lgx-rotateInUpRight-one ">
																													<span class="slider1slidetext1">Construction solution</span>
																													<span class="slider1slidetext2">for everyone</span>
																												</h2>
																												<p class="lgx-rotateInUpRight-two">
																													In id enim odio. Nunc aliquet diam tortor, at venenatis urna sagittis non. Suspendisse sodales nulla sit amet sem condimentum, ac euismod nibh elementum.
																													Praesent eu urna at sem sodales venenatis. Mauris efficiturd apibus enim in posuere
																												</p>
																												<a class="lgx-rotateInUpRight-three custom-button1"
																													href="get-in-touch/index.html"
																													target="_blank"
																													rel="">Buy
																													here
																													<i
																														class="fas fa-long-arrow-alt-right"></i></a>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																							<div class="item lgx-item">
																								<div
																									class="slider1slide ">
																									<div
																										class="slider1slide-image">
																										<img src="wp-content/uploads/2021/02/slide2.jpg"
																											alt="">
																									</div>
																									<div
																										class="container">
																										<div
																											class="row align-items-center slider1slide-text">
																											<div
																												class="col p-0">
																												<H1
																													class="lgx-rotateInUpRight-one ">
																													<span
																														class="slider1slidetext1">DUSTRO</span>
																													<span
																														class="slider1slidetext2">Construction
																														Company
																														WordPress
																														Theme</span>
																												</H1>
																												<p class="lgx-rotateInUpRight-two">
																													In id enim odio. Nunc aliquet diam tortor, at venenatis urna sagittis non. Suspendisse sodales nulla sit amet sem condimentum, ac euismod nibh elementum. Praesent eu urna at sem sodales venenatis. Mauris efficitur dapibus enim in posuere
																												</p>
																												<a class="lgx-rotateInUpRight-three custom-button1"
																													href="get-in-touch/index.html"
																													target="_blank"
																													rel="">Buy
																													here
																													<i
																														class="fas fa-long-arrow-alt-right"></i></a>
																											</div>
																										</div>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
										<section class="elementor-section elementor-top-section elementor-element elementor-element-89de395 elementor-section-content-middle text-center-767 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
											data-id="89de395" data-element_type="section">
											<div class="elementor-container elementor-column-gap-default">
												<div class="elementor-row">
													<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-eb92af2" data-id="eb92af2" data-element_type="column">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<section class="elementor-section elementor-inner-section elementor-element elementor-element-8a9c1db elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8a9c1db" data-element_type="section">
																	<div class="elementor-container elementor-column-gap-default">
																		<div class="elementor-row">
																			<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-07f7782 first-counter-color2 elementor-invisible"
																				data-id="07f7782" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;zoomIn&quot;}">
																				<div class="elementor-column-wrap elementor-element-populated">
																					<div class="elementor-widget-wrap">
																						<div class="elementor-element elementor-element-b5ff2ca elementor-widget elementor-widget-counter" data-id="b5ff2ca"
																							data-element_type="widget" data-widget_type="counter.default">
																							<div class="elementor-widget-container">
																								<div class="elementor-counter">
																									<div class="elementor-counter-number-wrapper">
																										<span class="elementor-counter-number-prefix"></span>
																										<span class="elementor-counter-number" data-duration="2000" data-to-value="147" data-from-value="0" data-delimiter=",">0</span>
																										<span class="elementor-counter-number-suffix"></span>
																									</div>
																									<div class="elementor-counter-title"> Completed Projects</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-460a338 first-counter-color1 elementor-invisible"
																				data-id="460a338" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;zoomIn&quot;}">
																				<div class="elementor-column-wrap elementor-element-populated">
																					<div class="elementor-widget-wrap">
																						<div class="elementor-element elementor-element-d828d76 elementor-widget elementor-widget-counter"
																							data-id="d828d76" data-element_type="widget" data-widget_type="counter.default">
																							<div class="elementor-widget-container">
																								<div class="elementor-counter">
																									<div class="elementor-counter-number-wrapper">
																										<span class="elementor-counter-number-prefix"></span>
																										<span class="elementor-counter-number" data-duration="2000" data-to-value="25" data-from-value="0" data-delimiter=",">0</span>
																										<span class="elementor-counter-number-suffix">+</span>
																									</div>
																									<div class="elementor-counter-title"> Years of Experience</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-525ce72 box-shadow elementor-invisible"
																				data-id="525ce72" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;,&quot;animation&quot;:&quot;zoomIn&quot;}">
																				<div class="elementor-column-wrap elementor-element-populated">
																					<div class="elementor-widget-wrap">
																						<div class="elementor-element elementor-element-b24d10b elementor-widget elementor-widget-text-editor"
																							data-id="b24d10b" data-element_type="widget" data-widget_type="text-editor.default">
																							<div class="elementor-widget-container">
																								<div class="elementor-text-editor elementor-clearfix">
																									<h3 style="font-size: 34px; font-weight: 500; line-height: 38px; color: #00215b;">
																										We Construct and Manage Places and Infrastructures
																									</h3>
																								</div>
																							</div>
																						</div>
																						<div class="elementor-element elementor-element-5d36335 elementor-widget elementor-widget-dustro-icons1"
																							data-id="5d36335" data-element_type="widget" data-widget_type="dustro-icons1.default">
																							<div class="elementor-widget-container">
																								<div class="icons1 ">
																									<div class="img-wrapper">
																										<img src="wp-content/uploads/2021/03/engineer.svg" alt="">
																									</div>
																									<div
																										class="text-wrapper">
																										<h3>General Contract
																										</h3>
																										<p>Quisque condimentum erat ac orci blandit, in sollicitudin tellus</p>
																									</div>
																								</div>
																							</div>
																						</div>
																						<div class="elementor-element elementor-element-13c9f6f elementor-widget elementor-widget-dustro-icons1"
																							data-id="13c9f6f" data-element_type="widget" data-widget_type="dustro-icons1.default">
																							<div class="elementor-widget-container">
																								<div class="icons1 ">
																									<div class="img-wrapper">
																										<img src="wp-content/uploads/2021/03/ruler.svg" alt="">
																									</div>
																									<div class="text-wrapper">
																										<h3>Project Planning </h3>
																										<p>Quisque condimentum erat ac orci blandit, in sollicitudin tellus</p>
																									</div>
																								</div>
																							</div>
																						</div>
																						<div class="elementor-element elementor-element-93fa531 elementor-widget elementor-widget-dustro-icons1"
																							data-id="93fa531" data-element_type="widget" data-widget_type="dustro-icons1.default">
																							<div class="elementor-widget-container">
																								<div class="icons1 ">
																									<div class="img-wrapper">
																										<img src="wp-content/uploads/2021/03/measuring-tool.svg" alt="">
																									</div>
																									<div class="text-wrapper">
																										<h3>Refurbishment </h3>
																										<p>Quisque condimentum erat ac orci blandit, in sollicitudin tellus</p>
																									</div>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</section>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
										<section
											class="elementor-section elementor-top-section elementor-element elementor-element-a16e3c6 text-center-767 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
											data-id="a16e3c6" data-element_type="section"
											data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
											<div class="elementor-container elementor-column-gap-default">
												<div class="elementor-row">
													<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9108a57"
														data-id="9108a57" data-element_type="column">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<section
																	class="elementor-section elementor-inner-section elementor-element elementor-element-242d61c elementor-reverse-mobile elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
																	data-id="242d61c" data-element_type="section">
																	<div
																		class="elementor-container elementor-column-gap-default">
																		<div class="elementor-row">
																			<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-e0e6f06"
																				data-id="e0e6f06"
																				data-element_type="column">
																				<div
																					class="elementor-column-wrap elementor-element-populated">
																					<div class="elementor-widget-wrap">
																						<div class="elementor-element elementor-element-36f1c17 elementor-widget elementor-widget-image"
																							data-id="36f1c17"
																							data-element_type="widget"
																							data-widget_type="image.default">
																							<div
																								class="elementor-widget-container">
																								<div
																									class="elementor-image">
																									<img width="580"
																										height="688"
																										src="wp-content/uploads/2021/02/Images-1.jpg"
																										class="attachment-large size-large"
																										alt=""
																										loading="lazy"
																										srcset="http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/Images-1.jpg 850w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/Images-1-600x712.jpg 600w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/Images-1-253x300.jpg 253w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/Images-1-768x911.jpg 768w"
																										sizes="(max-width: 580px) 100vw, 580px" />
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																			<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1eba158 elementor-invisible"
																				data-id="1eba158"
																				data-element_type="column"
																				data-settings="{&quot;animation&quot;:&quot;fadeInRight&quot;}">
																				<div
																					class="elementor-column-wrap elementor-element-populated">
																					<div class="elementor-widget-wrap">
																						<div class="elementor-element elementor-element-01c1915 elementor-widget elementor-widget-dustro-maintitle"
																							data-id="01c1915"
																							data-element_type="widget"
																							data-widget_type="dustro-maintitle.default">
																							<div
																								class="elementor-widget-container">

																								<div class="maintitle ">
																									<p>About us</p>
																									<h2 class="default">
																										With our
																										knowledge we
																										guarente success
																									</h2>
																								</div>
																							</div>
																						</div>
																						<div class="elementor-element elementor-element-b0dc122 elementor-widget elementor-widget-text-editor"
																							data-id="b0dc122"
																							data-element_type="widget"
																							data-widget_type="text-editor.default">
																							<div
																								class="elementor-widget-container">
																								<div
																									class="elementor-text-editor elementor-clearfix">
																									<p
																										style="color: #00215B; font-weight: 700; font-size: 20px; line-height: 1.3;">
																										<strong><span
																												style="color: #00215b;">Fusce
																												id
																												hendrerit
																												lectus.
																												Morbi
																												lorem
																												vitae
																												tortor
																												sed
																												turpis
																												feugiat
																												congue.</span></strong>
																									</p>
																									Cras tincidunt
																									tellus at mi
																									tristique rhoncus.
																									Etiam dapibus rutrum
																									leo consectetur
																									accumsan. Vivamus
																									viverra ante turpis,
																									dignissim
																									condimentum elit
																									egestas sit amet.
																									Phasellus faucibus
																									pellentesque
																								</div>
																							</div>
																						</div>
																						<div class="elementor-element elementor-element-fc8b17b elementor-widget elementor-widget-dustro-custombutton1"
																							data-id="fc8b17b"
																							data-element_type="widget"
																							data-widget_type="dustro-custombutton1.default">
																							<div
																								class="elementor-widget-container">

																								<a class="custom-button1"
																									href="about-us/index.html"
																									target="1"
																									rel="on">Learn more
																									<i
																										class="fas fa-long-arrow-alt-right"></i></a>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</section>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
										<section
											class="elementor-section elementor-top-section elementor-element elementor-element-9d4695a elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-invisible"
											data-id="9d4695a" data-element_type="section"
											data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
											<div class="elementor-container elementor-column-gap-no">
												<div class="elementor-row">
													<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-d4f98d4"
														data-id="d4f98d4" data-element_type="column"
														data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-2d0d68c elementor-widget elementor-widget-image"
																	data-id="2d0d68c" data-element_type="widget"
																	data-widget_type="image.default">
																	<div class="elementor-widget-container">
																		<div class="elementor-image">
																			<img width="580" height="483"
																				src="wp-content/uploads/2021/02/f91967257710e8527b8b96cb4060dc35c9618f3c2-1024x853.jpg"
																				class="attachment-large size-large"
																				alt="" loading="lazy"
																				srcset="http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/f91967257710e8527b8b96cb4060dc35c9618f3c2-1024x853.jpg 1024w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/f91967257710e8527b8b96cb4060dc35c9618f3c2-600x500.jpg 600w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/f91967257710e8527b8b96cb4060dc35c9618f3c2-300x250.jpg 300w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/f91967257710e8527b8b96cb4060dc35c9618f3c2-768x640.jpg 768w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/f91967257710e8527b8b96cb4060dc35c9618f3c2-1200x1000.jpg 1200w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/f91967257710e8527b8b96cb4060dc35c9618f3c2.jpg 1300w"
																				sizes="(max-width: 580px) 100vw, 580px" />
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-97b1ca4"
														data-id="97b1ca4" data-element_type="column"
														data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-background-overlay"></div>
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-30f08f2 elementor-widget elementor-widget-advanced-carousel"
																	data-id="30f08f2" data-element_type="widget"
																	data-widget_type="advanced-carousel.default">
																	<div class="elementor-widget-container">

																		<!--====== HTML CODING START ========-->

																		<section
																			class="tm-slider slider services-slider content-over-slider"
																			id="tdt-slider-332" data-mobiles="1"
																			data-tabs="2"
																			data-slick='{"arrows": true, "autoplaySpeed": 2500, "dots": false, "autoplay": true, "infinite": true, "adaptiveHeight": true, "pauseOnHover": true, "slidesToShow": 3, "slidesToScroll": 1, "fade": false, "touchThreshold": 5}'>
																			<div>
																				<a>
																					<span class="ultimate-slide-img"
																						style="max-width: 100%; margin-bottom: 15px;">
																						<img width="1000" height="1685"
																							src="wp-content/uploads/2021/02/bg.jpg"
																							class="attachment-full size-full"
																							alt="" loading="lazy"
																							srcset="http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/bg.jpg 1000w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/bg-600x1011.jpg 600w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/bg-178x300.jpg 178w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/bg-608x1024.jpg 608w"
																							sizes="(max-width: 1000px) 100vw, 1000px" />
																					</span>

																				</a>
																				<span class="content-section">
																					<p>
																					<div class="boximage1">
																						<div class="boximage1-text">
																							<h3>Research and analysis
																							</h3>
																							<p class="first-color">
																								Nullam tincidunt libero
																								eu augue eleifend, vitae
																								condimentum lacus </p>
																						</div>
																						<a class="boximage1button first-color"
																							href="single-service/index.html"><i
																								class="fas fa-long-arrow-alt-right"></i></a>
																					</div>
																					<br>

																					<p>&nbsp;</p>
																				</span>
																			</div>
																			<div>
																				<a>
																					<span class="ultimate-slide-img"
																						style="max-width: 100%; margin-bottom: 15px;">
																						<img width="1000" height="1685"
																							src="wp-content/uploads/2021/02/bg-1.jpg"
																							class="attachment-full size-full"
																							alt="" loading="lazy"
																							srcset="http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/bg-1.jpg 1000w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/bg-1-600x1011.jpg 600w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/bg-1-178x300.jpg 178w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/bg-1-608x1024.jpg 608w"
																							sizes="(max-width: 1000px) 100vw, 1000px" />
																					</span>

																				</a>
																				<span class="content-section">
																					<p>
																					<div class="boximage1">
																						<div class="boximage1-text">
																							<h3>Industrial develop</h3>
																							<p class="second-color">
																								Nullam tincidunt libero
																								eu augue eleifend, vitae
																								condimentum lacus </p>
																						</div>
																						<a class="boximage1button second-color"
																							href="single-service/index.html"><i
																								class="fas fa-long-arrow-alt-right"></i></a>
																					</div>
																					<br>

																					<p>&nbsp;</p>
																				</span>
																			</div>
																			<div>
																				<a>
																					<span class="ultimate-slide-img"
																						style="max-width: 100%; margin-bottom: 15px;">
																						<img width="1000" height="1685"
																							src="wp-content/uploads/2021/02/bg-2.jpg"
																							class="attachment-full size-full"
																							alt="" loading="lazy"
																							srcset="http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/bg-2.jpg 1000w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/bg-2-600x1011.jpg 600w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/bg-2-178x300.jpg 178w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/bg-2-608x1024.jpg 608w"
																							sizes="(max-width: 1000px) 100vw, 1000px" />
																					</span>

																				</a>
																				<span class="content-section">
																					<p>
																					<div class="boximage1">
																						<div class="boximage1-text">
																							<h3>Product and launch</h3>
																							<p class="first-color">
																								Nullam tincidunt libero
																								eu augue eleifend, vitae
																								condimentum lacus </p>
																						</div>
																						<a class="boximage1button first-color"
																							href="single-service/index.html"><i
																								class="fas fa-long-arrow-alt-right"></i></a>
																					</div>
																					<br>

																					<p>&nbsp;</p>
																				</span>
																			</div>
																			<div>
																				<a>
																					<span class="ultimate-slide-img"
																						style="max-width: 100%; margin-bottom: 15px;">
																						<img width="1000" height="1685"
																							src="wp-content/uploads/2021/02/bg-1.jpg"
																							class="attachment-full size-full"
																							alt="" loading="lazy"
																							srcset="http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/bg-1.jpg 1000w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/bg-1-600x1011.jpg 600w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/bg-1-178x300.jpg 178w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/bg-1-608x1024.jpg 608w"
																							sizes="(max-width: 1000px) 100vw, 1000px" />
																					</span>

																				</a>
																				<span class="content-section">
																					<p>
																					<div class="boximage1">
																						<div class="boximage1-text">
																							<h3>Industrial develop</h3>
																							<p class="second-color">
																								Nullam tincidunt libero
																								eu augue eleifend, vitae
																								condimentum lacus </p>
																						</div>
																						<a class="boximage1button second-color"
																							href="single-service/index.html"><i
																								class="fas fa-long-arrow-alt-right"></i></a>
																					</div>
																					<br>

																					<p>&nbsp;</p>
																				</span>
																			</div>
																		</section>

																		<style>
																			#tdt-slider-332 .slick-prev {
																				left: 40px !important;
																			}

																			#tdt-slider-332 .slick-next {
																				right: 40px !important;
																			}

																			#tdt-slider-332.content-over-slider .slick-slide .content-section {
																				top: 0%;
																			}

																			@media only screen and (max-width: 480px) {
																				#tdt-slider-332.content-over-slider .slick-slide .content-section {
																					top: 35px !important;
																				}

																				#tdt-slider-332.content-over-slider .ultimate-slide-img img {
																					height: px !important;
																					object-fit: cover;
																				}

																				#tdt-slider-332 .slick-prev,
																				#tdt-slider-332 .slick-next {
																					display: none !important;
																				}
																			}
																		</style>

																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
										<section
											class="elementor-section elementor-top-section elementor-element elementor-element-fb60b30 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
											data-id="fb60b30" data-element_type="section">
											<div class="elementor-container elementor-column-gap-default">
												<div class="elementor-row">
													<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-b846a38"
														data-id="b846a38" data-element_type="column">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-3b4b4af elementor-widget elementor-widget-dustro-maintitle"
																	data-id="3b4b4af" data-element_type="widget"
																	data-widget_type="dustro-maintitle.default">
																	<div class="elementor-widget-container">

																		<div class="maintitle text-center">
																			<p>Our works</p>
																			<h2 class="default">Our Special Projects
																			</h2>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
										<section
											class="elementor-section elementor-top-section elementor-element elementor-element-9fb2061 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
											data-id="9fb2061" data-element_type="section"
											data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
											<div class="elementor-container elementor-column-gap-default">
												<div class="elementor-row">
													<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-ceee4fb"
														data-id="ceee4fb" data-element_type="column">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-d5b6be7 elementor-widget elementor-widget-dustro-Imagehover"
																	data-id="d5b6be7" data-element_type="widget"
																	data-widget_type="dustro-Imagehover.default">
																	<div class="elementor-widget-container">

																		<figure class="view">
																			<img src="wp-content/uploads/2021/02/office-buildings-modern-glass-silhouettes-on-moder-PRADEQE-1-1.jpg"
																				alt="" />
																			<figcaption class="mask">
																				<div class="maskinner">
																					<div class="maskinner2">
																						<div class="maskinner2-mb">
																							<h3>Commercial</h3>
																							<h4>Benoit Architecture</h4>
																						</div>
																						<a href="wp-content/uploads/2021/02/office-buildings-modern-glass-silhouettes-on-moder-PRADEQE-1-1.jpg"
																							data-lightbox="example-set">
																							<i class="fas fa-plus"></i>
																						</a>
																						<a
																							href="single-project/index.html">
																							<i class="fas fa-link"></i>
																						</a>
																					</div>
																				</div>
																			</figcaption>
																		</figure>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-f84ef89"
														data-id="f84ef89" data-element_type="column">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-bb70dca elementor-widget elementor-widget-dustro-Imagehover"
																	data-id="bb70dca" data-element_type="widget"
																	data-widget_type="dustro-Imagehover.default">
																	<div class="elementor-widget-container">

																		<figure class="view">
																			<img src="wp-content/uploads/2021/02/round-building-CGY4TZ5-1.jpg"
																				alt="" />
																			<figcaption class="mask">
																				<div class="maskinner">
																					<div class="maskinner2">
																						<div class="maskinner2-mb">
																							<h3>Commercial</h3>
																							<h4>Benoit Architecture</h4>
																						</div>
																						<a href="wp-content/uploads/2021/02/round-building-CGY4TZ5-1.jpg"
																							data-lightbox="example-set">
																							<i class="fas fa-plus"></i>
																						</a>
																						<a
																							href="single-project/index.html">
																							<i class="fas fa-link"></i>
																						</a>
																					</div>
																				</div>
																			</figcaption>
																		</figure>
																	</div>
																</div>
																<div class="elementor-element elementor-element-c268d25 elementor-widget elementor-widget-dustro-Imagehover"
																	data-id="c268d25" data-element_type="widget"
																	data-widget_type="dustro-Imagehover.default">
																	<div class="elementor-widget-container">

																		<figure class="view">
																			<img src="wp-content/uploads/2021/02/xrdes-PHgbWpst8UA-unsplash-1-2.jpg"
																				alt="" />
																			<figcaption class="mask">
																				<div class="maskinner">
																					<div class="maskinner2">
																						<div class="maskinner2-mb">
																							<h3>Commercial</h3>
																							<h4>Benoit Architecture</h4>
																						</div>
																						<a href="wp-content/uploads/2021/02/xrdes-PHgbWpst8UA-unsplash-1-2.jpg"
																							data-lightbox="example-set">
																							<i class="fas fa-plus"></i>
																						</a>
																						<a
																							href="single-project/index.html">
																							<i class="fas fa-link"></i>
																						</a>
																					</div>
																				</div>
																			</figcaption>
																		</figure>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-492dc81"
														data-id="492dc81" data-element_type="column">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-1e13086 elementor-widget elementor-widget-dustro-Imagehover"
																	data-id="1e13086" data-element_type="widget"
																	data-widget_type="dustro-Imagehover.default">
																	<div class="elementor-widget-container">

																		<figure class="view">
																			<img src="wp-content/uploads/2021/02/office-building-P6EY7D6-1-3.jpg"
																				alt="" />
																			<figcaption class="mask">
																				<div class="maskinner">
																					<div class="maskinner2">
																						<div class="maskinner2-mb">
																							<h3>Commercial</h3>
																							<h4>Benoit Architecture</h4>
																						</div>
																						<a href="wp-content/uploads/2021/02/office-building-P6EY7D6-1-3.jpg"
																							data-lightbox="example-set">
																							<i class="fas fa-plus"></i>
																						</a>
																						<a
																							href="single-project/index.html">
																							<i class="fas fa-link"></i>
																						</a>
																					</div>
																				</div>
																			</figcaption>
																		</figure>
																	</div>
																</div>
																<div class="elementor-element elementor-element-7e76d64 elementor-widget elementor-widget-dustro-Imagehover"
																	data-id="7e76d64" data-element_type="widget"
																	data-widget_type="dustro-Imagehover.default">
																	<div class="elementor-widget-container">

																		<figure class="view">
																			<img src="wp-content/uploads/2021/02/scott-webb-kAJE-3_4zHE-unsplash-1-2.jpg"
																				alt="" />
																			<figcaption class="mask">
																				<div class="maskinner">
																					<div class="maskinner2">
																						<div class="maskinner2-mb">
																							<h3>Commercial</h3>
																							<h4>Benoit Architecture</h4>
																						</div>
																						<a href="wp-content/uploads/2021/02/scott-webb-kAJE-3_4zHE-unsplash-1-2.jpg"
																							data-lightbox="example-set">
																							<i class="fas fa-plus"></i>
																						</a>
																						<a
																							href="single-project/index.html">
																							<i class="fas fa-link"></i>
																						</a>
																					</div>
																				</div>
																			</figcaption>
																		</figure>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
										<section
											class="elementor-section elementor-top-section elementor-element elementor-element-b7ac59f elementor-section-full_width elementor-section-height-default elementor-section-height-default"
											data-id="b7ac59f" data-element_type="section">
											<div class="elementor-container elementor-column-gap-no">
												<div class="elementor-row">
													<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-fabd3f3"
														data-id="fabd3f3" data-element_type="column">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-3701bb1 elementor-widget elementor-widget-html"
																	data-id="3701bb1" data-element_type="widget"
																	data-widget_type="html.default">
																	<div class="elementor-widget-container">
																		<iframe loading="lazy"
																			src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d158924.18906943742!2d-0.23346108004648697!3d51.50972180519046!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a00baf21de75%3A0x52963a5addd52a99!2z0JvQvtC90LTQvtC9LCDQktC10LvQuNC60LAg0JHRgNC40YLQsNC90LjRmNCw!5e0!3m2!1ssr!2srs!4v1608396181691!5m2!1ssr!2srs"
																			width="600" height="550" style="border:0;"
																			allowfullscreen="" aria-hidden="false"
																			tabindex="0"></iframe>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
										<section
											class="elementor-section elementor-top-section elementor-element elementor-element-b35e7ce elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default"
											data-id="b35e7ce" data-element_type="section">
											<div class="elementor-container elementor-column-gap-default">
												<div class="elementor-row">
													<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-2d8ffad box-shadow text-center-767"
														data-id="2d8ffad" data-element_type="column"
														data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-28e3196 elementor-widget elementor-widget-text-editor"
																	data-id="28e3196" data-element_type="widget"
																	data-widget_type="text-editor.default">
																	<div class="elementor-widget-container">
																		<div
																			class="elementor-text-editor elementor-clearfix">
																			<h6
																				style="margin-bottom: 6px; font-size: 14px; font-weight: 300;">
																				COMPANY ADDRESS</h6>
																			<h4
																				style="color: #00215b; font-weight: 500;">
																				Themeforest, Envato HQ 24 Fifth st., Los
																				Angeles, USA</h4>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-05892f8 elementor-invisible"
														data-id="05892f8" data-element_type="column"
														data-settings="{&quot;animation&quot;:&quot;zoomIn&quot;}">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-e86accc elementor-widget elementor-widget-dustro-icontext"
																	data-id="e86accc" data-element_type="widget"
																	data-widget_type="dustro-icontext.default">
																	<div class="elementor-widget-container">

																		<div class="icontext">
																			<div class="img-wrapper first-color">
																				<img src="wp-content/uploads/2021/01/telephone.svg"
																					alt="">
																			</div>
																			<div class="text-wrapper">
																				<h3>company phones</h3>
																				<h6>+ 1 234 5678 098</h6>
																				<h6>+ 1 634 7638 654</h6>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-6c4743f elementor-invisible"
														data-id="6c4743f" data-element_type="column"
														data-settings="{&quot;animation&quot;:&quot;zoomIn&quot;}">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-66c0a73 elementor-widget elementor-widget-dustro-icontext"
																	data-id="66c0a73" data-element_type="widget"
																	data-widget_type="dustro-icontext.default">
																	<div class="elementor-widget-container">

																		<div class="icontext">
																			<div class="img-wrapper second-color">
																				<img src="wp-content/uploads/2021/01/chat.svg"
																					alt="">
																			</div>
																			<div class="text-wrapper">
																				<h3>dustro emails</h3>
																				<h6>dustro@gmail.com</h6>
																				<h6>dustro2@gmail.com</h6>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
										<section
											class="elementor-section elementor-top-section elementor-element elementor-element-cc57bf0 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
											data-id="cc57bf0" data-element_type="section">
											<div class="elementor-container elementor-column-gap-default">
												<div class="elementor-row">
													<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-962378a"
														data-id="962378a" data-element_type="column">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-4130c79 elementor-widget elementor-widget-dustro-maintitle"
																	data-id="4130c79" data-element_type="widget"
																	data-widget_type="dustro-maintitle.default">
																	<div class="elementor-widget-container">

																		<div class="maintitle text-center">
																			<p>Testimonials</p>
																			<h2 class="default">Our clients say</h2>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
										<section
											class="elementor-section elementor-top-section elementor-element elementor-element-638878f elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
											data-id="638878f" data-element_type="section"
											data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
											<div class="elementor-container elementor-column-gap-no">
												<div class="elementor-row">
													<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2b0b529"
														data-id="2b0b529" data-element_type="column">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-75734ff elementor-widget elementor-widget-image"
																	data-id="75734ff" data-element_type="widget"
																	data-widget_type="image.default">
																	<div class="elementor-widget-container">
																		<div class="elementor-image">
																			<img width="394" height="490"
																				src="wp-content/uploads/2021/02/img17.jpg"
																				class="attachment-large size-large"
																				alt="" loading="lazy"
																				srcset="http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/img17.jpg 394w, http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme/wp-content/uploads/2021/02/img17-241x300.jpg 241w"
																				sizes="(max-width: 394px) 100vw, 394px" />
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-9b7a72d text-center-1024"
														data-id="9b7a72d" data-element_type="column">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-bd89fdf elementor-widget elementor-widget-dustro-singleicon"
																	data-id="bd89fdf" data-element_type="widget"
																	data-widget_type="dustro-singleicon.default">
																	<div class="elementor-widget-container">

																		<div class="singleicon">
																			<i class="fas fa-quote-right"></i>
																		</div>
																	</div>
																</div>
																<div class="elementor-element elementor-element-133411e elementor-widget elementor-widget-advanced-carousel"
																	data-id="133411e" data-element_type="widget"
																	data-widget_type="advanced-carousel.default">
																	<div class="elementor-widget-container">

																		<!--====== HTML CODING START ========-->

																		<section
																			class="tm-slider slider dots-left-1024 default-tdt"
																			id="tdt-slider-326" data-mobiles="1"
																			data-tabs="1"
																			data-slick='{"arrows": false, "autoplaySpeed": 2500, "dots": true, "autoplay": true, "infinite": true, "adaptiveHeight": true, "pauseOnHover": true, "slidesToShow": 1, "slidesToScroll": 1, "fade": false, "touchThreshold": 5}'>
																			<div>
																				<a>
																					<span class="ultimate-slide-img"
																						style="max-width: 100%; margin-bottom: 15px;">
																					</span>

																				</a>
																				<span class="content-section">

																					<div class="testimonials">
																						<div class="item">
																							<p>Suspendisse tortor enim,
																								varius et porttitor sit
																								amet, posuere vitae
																								massa. Proin ac quam eu
																								erat semper sagittis in
																								vitae elit. Nam neque
																								erat, semper vel
																								ultrices in, finibus eu
																								magna. Pellentesque
																								habitant morbi tristique
																							</p>
																							<a
																								href="https://twitter.com/"><cite>Katy
																									Grey</cite></a>
																							<h6>Manager</h6>
																						</div>
																					</div>
																					&nbsp;<br>

																					<p>&nbsp;</p>
																				</span>
																			</div>
																			<div>
																				<a>
																					<span class="ultimate-slide-img"
																						style="max-width: 100%; margin-bottom: 15px;">
																					</span>

																				</a>
																				<span class="content-section">

																					<div class="testimonials">
																						<div class="item">
																							<p>Suspendisse tortor enim,
																								varius et porttitor sit
																								amet, posuere vitae
																								massa. Proin ac quam eu
																								erat semper sagittis in
																								vitae elit. Nam neque
																								erat, semper vel
																								ultrices in, finibus eu
																								magna. Pellentesque
																								habitant morbi tristique
																							</p>
																							<a
																								href="https://twitter.com/"><cite>Katy
																									Grey</cite></a>
																							<h6>Manager</h6>
																						</div>
																					</div>
																					&nbsp;<br>

																					<p>&nbsp;</p>
																				</span>
																			</div>
																			<div>
																				<a>
																					<span class="ultimate-slide-img"
																						style="max-width: 100%; margin-bottom: 15px;">
																					</span>

																				</a>
																				<span class="content-section">

																					<div class="testimonials">
																						<div class="item">
																							<p>Suspendisse tortor enim,
																								varius et porttitor sit
																								amet, posuere vitae
																								massa. Proin ac quam eu
																								erat semper sagittis in
																								vitae elit. Nam neque
																								erat, semper vel
																								ultrices in, finibus eu
																								magna. Pellentesque
																								habitant morbi tristique
																							</p>
																							<a
																								href="https://twitter.com/"><cite>John
																									Smith</cite></a>
																							<h6>CEO Grey Industries</h6>
																						</div>
																					</div>
																					<br>

																					<p>&nbsp;</p>
																				</span>
																			</div>
																		</section>

																		<style>
																			#tdt-slider-326 .slick-prev {
																				left: px !important;
																			}

																			#tdt-slider-326 .slick-next {
																				right: px !important;
																			}

																			@media only screen and (max-width: 480px) {
																				#tdt-slider-326.content-over-slider .slick-slide .content-section {
																					top: 35px !important;
																				}

																				#tdt-slider-326.content-over-slider .ultimate-slide-img img {
																					height: px !important;
																					object-fit: cover;
																				}

																				#tdt-slider-326 .slick-prev,
																				#tdt-slider-326 .slick-next {
																					display: block !important;
																				}
																			}
																		</style>

																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
										<section
											class="elementor-section elementor-top-section elementor-element elementor-element-c20a90e elementor-section-full_width elementor-section-height-default elementor-section-height-default"
											data-id="c20a90e" data-element_type="section"
											data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
											<div class="elementor-container elementor-column-gap-no">
												<div class="elementor-row">
													<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-111b146"
														data-id="111b146" data-element_type="column">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<section
																	class="elementor-section elementor-inner-section elementor-element elementor-element-c4886fa elementor-section-boxed elementor-section-height-default elementor-section-height-default"
																	data-id="c4886fa" data-element_type="section">
																	<div
																		class="elementor-container elementor-column-gap-default">
																		<div class="elementor-row">
																			<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-0388af8"
																				data-id="0388af8"
																				data-element_type="column">
																				<div
																					class="elementor-column-wrap elementor-element-populated">
																					<div class="elementor-widget-wrap">
																						<div class="elementor-element elementor-element-1223e8b elementor-widget elementor-widget-dustro-videobutton"
																							data-id="1223e8b"
																							data-element_type="widget"
																							data-widget_type="dustro-videobutton.default">
																							<div
																								class="elementor-widget-container">

																								<div
																									class="videobutton">
																									<a href="https://www.youtube.com/watch?v=aY_YRlS-U4Y"
																										class="yt-video">
																										<i
																											class="fas fa-play"></i>
																									</a>
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</section>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
										<section
											class="elementor-section elementor-top-section elementor-element elementor-element-0a900b7 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
											data-id="0a900b7" data-element_type="section">
											<div class="elementor-container elementor-column-gap-default">
												<div class="elementor-row">
													<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-9ccec60"
														data-id="9ccec60" data-element_type="column">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-cc342bd elementor-widget elementor-widget-dustro-maintitle"
																	data-id="cc342bd" data-element_type="widget"
																	data-widget_type="dustro-maintitle.default">
																	<div class="elementor-widget-container">

																		<div class="maintitle text-center">
																			<p>Partners</p>
																			<h2 class="default">Our Awesome Partners
																			</h2>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
										<section
											class="elementor-section elementor-top-section elementor-element elementor-element-a174891 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
											data-id="a174891" data-element_type="section"
											data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
											<div class="elementor-container elementor-column-gap-default">
												<div class="elementor-row">
													<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-195fd1c"
														data-id="195fd1c" data-element_type="column">
														<div class="elementor-column-wrap elementor-element-populated">
															<div class="elementor-widget-wrap">
																<div class="elementor-element elementor-element-e9d63ff elementor-carousel-button-color elementor-arrows-position-inside elementor-widget elementor-widget-image-carousel"
																	data-id="e9d63ff" data-element_type="widget"
																	data-settings="{&quot;slides_to_show&quot;:&quot;5&quot;,&quot;navigation&quot;:&quot;arrows&quot;,&quot;autoplay&quot;:&quot;yes&quot;,&quot;pause_on_hover&quot;:&quot;yes&quot;,&quot;pause_on_interaction&quot;:&quot;yes&quot;,&quot;autoplay_speed&quot;:5000,&quot;infinite&quot;:&quot;yes&quot;,&quot;speed&quot;:500}"
																	data-widget_type="image-carousel.default">
																	<div class="elementor-widget-container">
																		<div class="elementor-image-carousel-wrapper swiper-container"
																			dir="ltr">
																			<div
																				class="elementor-image-carousel swiper-wrapper">
																				<div class="swiper-slide">
																					<figure class="swiper-slide-inner">
																						<img class="swiper-slide-image"
																							src="wp-content/uploads/2021/01/Layer-1.jpg"
																							alt="Layer 1" /></figure>
																				</div>
																				<div class="swiper-slide">
																					<figure class="swiper-slide-inner">
																						<img class="swiper-slide-image"
																							src="wp-content/uploads/2021/01/Layer-2.jpg"
																							alt="Layer 2" /></figure>
																				</div>
																				<div class="swiper-slide">
																					<figure class="swiper-slide-inner">
																						<img class="swiper-slide-image"
																							src="wp-content/uploads/2021/01/Layer-3.jpg"
																							alt="Layer 3" /></figure>
																				</div>
																				<div class="swiper-slide">
																					<figure class="swiper-slide-inner">
																						<img class="swiper-slide-image"
																							src="wp-content/uploads/2021/01/Layer-4.jpg"
																							alt="Layer 4" /></figure>
																				</div>
																				<div class="swiper-slide">
																					<figure class="swiper-slide-inner">
																						<img class="swiper-slide-image"
																							src="wp-content/uploads/2021/01/Layer-5.jpg"
																							alt="Layer 5" /></figure>
																				</div>
																			</div>
																			<div
																				class="elementor-swiper-button elementor-swiper-button-prev">
																				<i aria-hidden="true"
																					class="eicon-chevron-left"></i>
																				<span
																					class="elementor-screen-only">Previous</span>
																			</div>
																			<div
																				class="elementor-swiper-button elementor-swiper-button-next">
																				<i aria-hidden="true"
																					class="eicon-chevron-right"></i>
																				<span
																					class="elementor-screen-only">Next</span>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
							</div>
						</div><!-- .entry-content -->
					</div><!-- .post-inner -->

				</div>
			</main>

			<%- include ('partials/footer') %>