<%- include ('partials/header') %>

  <title>Document</title>

  <noscript>
    <style id="rocket-lazyload-nojs-css">
      .rll-youtube-player,
      [data-lazy-src] {
        display: none !important;
      }
    </style>
  </noscript> </head>

  <body
    class="home page-template page-template-templates page-template-page-full page-template-templatespage-full-php page page-id-9 wp-custom-logo wp-embed-responsive theme-dustro woocommerce-no-js singular enable-search-modal missing-post-thumbnail has-no-pagination not-showing-comments show-avatars page-full footer-top-visible elementor-default elementor-kit-5 elementor-page elementor-page-9">
    <%- include ('partials/nav') %>

      <div class="bg-title-page pagetitle breadcrumbleft">
        <div class="pagetitle-inner">
          <div class="container animatedcustom animated fadeInUp">
            <div class="row">
              <div class="col-lg-8">
                <h1>Services carousel</h1>
                <div class="breadcrumb1">
                  <!-- Breadcrumb NavXT 7.1.0 -->
                  <span property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage"
                      title="Go to Dustro." href="http://rayoflightthemes.com/wordpress-themes/dustro-wordpress-theme"
                      class="home"><span property="name">Dustro</span></a>
                    <meta property="position" content="1">
                  </span> - <span property="itemListElement" typeof="ListItem"><span property="name"
                      class="post post-page current-item">Services carousel</span>
                    <meta property="url" content="index.html">
                    <meta property="position" content="2">
                  </span>
                </div>
              </div>
              <div class="col-lg-4">
              </div>
            </div>
          </div>
        </div>
      </div>
      <main>
        <div class="post-5043 page type-page status-publish hentry" id="post-5043">
          <div class="post-inner">
            <div class="entry-content">
              <div data-elementor-type="wp-page" data-elementor-id="5043" class="elementor elementor-5043">
                <div class="elementor-inner">
                  <div class="elementor-section-wrap">
                    <section
                      class="elementor-section elementor-top-section elementor-element elementor-element-ce8bf7a elementor-section-full_width elementor-section-height-default elementor-section-height-default elementor-invisible"
                      data-id="ce8bf7a" data-element_type="section"
                      data-settings="{&quot;animation&quot;:&quot;fadeIn&quot;}">
                      <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-row">
                          <div
                            class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a3e4214"
                            data-id="a3e4214" data-element_type="column"
                            data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-column-wrap elementor-element-populated">
                              <div class="elementor-background-overlay"></div>
                              <div class="elementor-widget-wrap">
                                <div
                                  class="elementor-element elementor-element-7bb9b37 elementor-widget elementor-widget-advanced-carousel"
                                  data-id="7bb9b37" data-element_type="widget"
                                  data-widget_type="advanced-carousel.default">
                                  <div class="elementor-widget-container">

                                    <!--====== HTML CODING START ========-->

                                    <section class="tm-slider slider services-slider content-over-slider"
                                      id="tdt-slider-40" data-mobiles="1" data-tabs="2"
                                      data-slick='{"arrows": true, "autoplaySpeed": 2500, "dots": false, "autoplay": true, "infinite": true, "adaptiveHeight": true, "pauseOnHover": true, "slidesToShow": 3, "slidesToScroll": 1, "fade": false, "touchThreshold": 5}'>
                                      <div>
                                        <a>
                                          <span class="ultimate-slide-img"
                                            style="max-width: 100%; margin-bottom: 15px;">
                                            <img width="1000" height="1685" src="../wp-content/uploads/2021/02/bg.jpg"
                                              class="attachment-full size-full" alt="" loading="lazy"
                                              sizes="(max-width: 1000px) 100vw, 1000px" /> </span>
                                        </a>
                                        <span class="content-section">
                                          <p>
                                          <div class="boximage1">
                                            <div class="boximage1-text">
                                              <h3>Bolt Tensioning</h3>
                                              <p class="first-color">Nullam tincidunt libero eu augue eleifend, vitae
                                                condimentum lacus </p>
                                            </div>
                                            <a class="boximage1button first-color"
                                              href="../single-service/index.html"><i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                          </div>
                                          <br>

                                          <p>&nbsp;</p>
                                        </span>
                                      </div>
                                      <div>
                                        <a>
                                          <span class="ultimate-slide-img"
                                            style="max-width: 100%; margin-bottom: 15px;">
                                            <img width="1000" height="1685" src="../wp-content/uploads/2021/02/bg-1.jpg"
                                              class="attachment-full size-full" alt="" loading="lazy"
                                              sizes="(max-width: 1000px) 100vw, 1000px" /> </span>
                                        </a>
                                        <span class="content-section">
                                          <p>
                                          <div class="boximage1">
                                            <div class="boximage1-text">
                                              <h3>Bolt Torquing</h3>
                                              <p class="second-color">Nullam tincidunt libero eu augue eleifend, vitae
                                                condimentum lacus </p>
                                            </div>
                                            <a class="boximage1button second-color"
                                              href="../single-service/index.html"><i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                          </div>
                                          <br>

                                          <p>&nbsp;</p>
                                        </span>
                                      </div>
                                      <div>
                                        <a>
                                          <span class="ultimate-slide-img"
                                            style="max-width: 100%; margin-bottom: 15px;">
                                            <img width="1000" height="1685" src="../wp-content/uploads/2021/02/bg.jpg"
                                              class="attachment-full size-full" alt="" loading="lazy"
                                              sizes="(max-width: 1000px) 100vw, 1000px" /> </span>
                                        </a>
                                        <span class="content-section">
                                          <p>
                                          <div class="boximage1">
                                            <div class="boximage1-text">
                                              <h3>Mechanical Maintenance</h3>
                                              <p class="first-color">Nullam tincidunt libero eu augue eleifend, vitae
                                                condimentum lacus </p>
                                            </div>
                                            <a class="boximage1button first-color"
                                              href="../single-service/index.html"><i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                          </div>
                                          <br>

                                          <p>&nbsp;</p>
                                        </span>
                                      </div>
                                      <div>
                                        <a>
                                          <span class="ultimate-slide-img"
                                            style="max-width: 100%; margin-bottom: 15px;">
                                            <img width="1000" height="1685" src="../wp-content/uploads/2021/02/bg-1.jpg"
                                              class="attachment-full size-full" alt="" loading="lazy"
                                              sizes="(max-width: 1000px) 100vw, 1000px" /> </span>
                                        </a>
                                        <span class="content-section">
                                          <p>
                                          <div class="boximage1">
                                            <div class="boximage1-text">
                                              <h3>Labour Counseling</h3>
                                              <p class="second-color">Nullam tincidunt libero eu augue eleifend, vitae
                                                condimentum lacus </p>
                                            </div>
                                            <a class="boximage1button second-color"
                                              href="../single-service/index.html"><i
                                                class="fas fa-long-arrow-alt-right"></i></a>
                                          </div>
                                          <br>

                                          <p>&nbsp;</p>
                                        </span>
                                      </div>
                                    </section>

                                    <style>
                                      #tdt-slider-40 .slick-prev {
                                        left: 40px !important;
                                      }

                                      #tdt-slider-40 .slick-next {
                                        right: 40px !important;
                                      }

                                      #tdt-slider-40.content-over-slider .slick-slide .content-section {
                                        top: 0%;
                                      }

                                      @media only screen and (max-width: 480px) {
                                        #tdt-slider-40.content-over-slider .slick-slide .content-section {
                                          top: 35px !important;
                                        }

                                        #tdt-slider-40.content-over-slider .ultimate-slide-img img {
                                          height: px !important;
                                          object-fit: cover;
                                        }

                                        #tdt-slider-40 .slick-prev,
                                        #tdt-slider-40 .slick-next {
                                          display: none !important;
                                        }
                                      }
                                    </style>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div><!-- .entry-content -->
          </div><!-- .post-inner -->

        </div>
      </main>


      <%- include ('partials/footer') %>